@font-face 
{ 
	font-family: "JHD";  src: url('Media/Police/JHD.ttf');
}
	
	

body 
{
	background: url(Media/Image/backgroundtapisnoir.jpg);
}



#title
{
	text-align:center;
	padding-bottom:20px;

}



a.myclass
{
	font-size: 2em;
	color:black;
	font-family: "JHD";
}



img 
{
	max-width: 100%;
	height: auto;
}



#navbar
{
	display: inline;
	color:red;
	text-align:center;
}



div#colonneDroite
{
	display:none;	
}



span.nav
{
	display:inline-block;
	background-color:grey;


	margin:1%;
	border-radius: 10px;
	height:10%;
	box-shadow: 6px 6px 6px #000;	
}



div#colonne
{
	padding-top:3%;	
}



div#colonneGauche 
{
    display:none;
}



div#centre
{
	height:auto;
	width:59%;
	background-size:cover;
	display:inline-block;
	padding-left: 20%;
}



div#blague
{
	margin-bottom:10px;
	padding-left:3%;
	background-color:white;
	
	border-radius: 10px;
	box-shadow: 6px 6px 6px #aaa;	
}


	
div#savoirInutile
{
	background-color:white;
	border-radius: 10px;
	box-shadow: 6px 6px 6px #aaa;
}
	


footer
{
	font-family: "Times";
	font-size: 1.5em;
	position: absolute;
	width: 100%;
	text-align: center;
	margin-top: 100px;
	box-shadow: 6px 6px 6px #aaa;
	background-color: grey;
}
